@import "variables";
// @import "mixins";
// @import "fonts";

$font-prefix: "../node_modules/library/src/assets/fonts";
@import "library/src/style/base.scss";


html {
  background: black;
}

b, strong, h1, h2, h3, h4, h5 {
  font-weight: $font-weight-bold;
}

h1, h2, h3 {
  font-size: 1em;
}

a {
  color: $color-accent;
  text-decoration: none;
}

.sans {
  font-family: $font-sans;
}

.serif {
  font-family: $font-serif;
}

.mono {
  font-family: $font-mono;
}
