@import "normalize-scss";
@import "variables";
@import "fonts";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  font-family: 'Plex Sans', sans-serif;
  font-feature-settings: "kern";
  font-weight: 300;
  color: $color-white;
  font-size: 16px;
  line-height: 1.125;

  h1, h2 {
    font-size: 1rem;
  }
}
