@import "normalize-scss";
@import "variables";
@import "fonts";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  font-family: 'Plex Sans', sans-serif;
  font-feature-settings: "kern";
  font-weight: 300;
  color: $color-white;
  font-size: 16px;
  line-height: 1.25;

  h1, h2 {
    font-size: 1rem;
  }

  h2 {
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  span, select {
    &.blue {
      color: $color-blue;
    }
    &.red {
      color: $color-red;
    }
    &.yellow {
      color: $color-yellow;
    }
    &.green {
      color: $color-green;
    }
    &.violet {
      color: $color-violet;
    }
  }
  svg {
    .blue {
      fill: $color-blue;
      stroke: none;
    }
    .red {
      fill: $color-red;
      stroke: none;
    }
    .yellow {
      fill: $color-yellow;
      stroke: none;
    }
    .green {
      fill: $color-green;
      stroke: none;
    }
    .violet {
      fill: $color-violet;
      stroke: none;
    }
  }

  .upper {
    text-transform: uppercase;
  }
}
