$color-black: #000;
$color-white: #FFF;
$color-background: darken(#071A29, 4);

$color-violet: #B035C9;
$color-green: #9BE8C7;
$color-yellow: #FFC740;
$color-blue: #635EFF;
$color-cyan: #00AAFF;

$spacing: 2rem;

$color-scale-black: #071A29;
$color-scale-violet: $color-violet;
$color-scale-green: #54E8A9;
$color-scale-white: #FEF4DD;

$color-default: $color-white;
$color-accent: $color-green;
