@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans Regular'),
    local('IBMPlexSans-Regular'),
    url('assets/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
    url('assets/fonts/IBMPlexSans-Regular.woff') format('woff');
}
